@model Core.Domain.Employee 

@{
    ViewData["Title"] = "Delete Employee";
}

<h2>Delete</h2>

<p>
    Are you sure you want to delete this employee?
</p>

<h2>@Model.FirstName @Model.LastName</h2>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete Employee" />
}

@Html.ActionLink("Back to Employees", "Index")