@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    F-452 3rd Floor<br />
    Phase 8 B Industrial Area<br />
    Mohali, Punjab, India. <br />
    <abbr title="Phone">P:</abbr>
    0172.223.7733
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@amebatechnologies.co.in">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:info@amebatechnologies.co.in">Marketing@example.com</a>
</address>