@{
    ViewData["Title"] = "Projects Page";
}
<script src="~/Scripts/bootbox.min.js"></script>
<script src="~/js/Ticket.js"></script>

<div class="clearfix"><img src="~/Content/images/Ameba.jpg" width="500" height="66" style="float:left" /></div>
<br />
<br />
<br />
<div class="row" id="divList">

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modelContent">

        </div>
    </div>
</div>